/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.custom-bg-color {
  background-color: #6A87B0;
  color: white;
}
.custom-bg-color1 {
  background-color: #456696;
  color: white;
}
.custom-btn {
  border-color: #A1C084;
  color: white;
  border-color: #6A87B0;
}

.custom-navbar {
  padding-top: 15px; 
  padding-bottom: 15px;
}

.custom-btn:hover {
  background-color: #A1C084;
  color: white;
  border-color: #6A87B0;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.active-link {
  color: white;
  text-decoration: underline;
}
.active-link:hover {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carousel-inner .desktop-1 {
  position: relative;
  width: 1838px;
  height: 488px;
  background: linear-gradient(180deg, #6A87B0 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel-inner .desktop-1 .data-report {
  position: absolute;
  width: 450.3px;
  height: 444px;
  left: 1215px;
  top: 44px;
  background: url('img/1.png');
}
.btn-custom {
  background-color: #e98c53;
  color: white;
}

.btn-custom:disabled {
  color: white;
}


.btn-custom1 {
  background-color: #6A87B0;
  color: white; /* Цвет текста на кнопке */
}
@media (max-width: 768px) {
  .carousel-caption h1, 
  .carousel-caption p,
  .carousel-caption a {
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.dataset-table {
  width: 100%;
  border-collapse: collapse;
}

.header-cell {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.data-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.data-cell:first-child {
  border-left: 1px solid #ddd;
}

.data-cell:last-child {
  border-right: 1px solid #ddd;
}

.data-cell:hover {
  background-color: #f9f9f9;
}
